* {
  font-family: sans-serif;
  margin: 5px;
  padding: 5px;
}

header {
  padding: 1em 0;
}

html {
  font-size: 16px;

  margin-top: 0.5em;
}

img {
  width: 100%;
  border: 3px solid #d6d6d6;
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
  background: #020202;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

#reviewsLink {
  padding: 0.5em;
  text-align: center;
  font-size: 20px;
}
