<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>A List of All Available Reviews</title>

	<link href="./reviews-style.css" rel="stylesheet" type="text/css">
</head>

	<header>
		<h1>A List of All Reviews</h1>
	</header>
	
	<main>
	
		<div th:each="review: ${reviews}">
			<li>
			<a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
			</li>
		</div>
		
		<li>
			<a href="http://localhost:8080/categories"> To Categories</a>
		</li>
		
	</main>

	<footer>
		<small>Copyright Evan Novak 2020</small>
	</footer>

</body>
</html>